<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pa="http://primefaces.org/california">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Church App</title>
</h:head>

<div class="login-topbar">
	<h:link styleClass="logo">
		<p:graphicImage name="images/logo.png" library="california-layout" />
	</h:link>
</div>
<p:graphicImage styleClass="login-image" name="images/image-login.png"
	library="california-layout" />

<h:body styleClass="login-body">
	<div class="login-panel ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 login-icon-container">
				<p:graphicImage styleClass="login-icon" name="images/icon-login.png"
					library="california-layout" />
			</div>
			<h:form id="loginForm" prependId="false">
				<div class="ui-g-12 ui-lg-12 ui-md-12 logo-container">
					<span class="login-summary">Sign in to Church App</span>
					<div class="login-detail">
						<span>Welcome, please use the form to sign-in network.</span>
					</div>
				</div>
				<div class="ui-g-12 ui-lg-12 ui-md-12">
					<h:outputText value="Username" />
					<p:inputText  id="j_username" required="true"
						placeholder="Enter username">
						<p:ajax update="j_username" />
					</p:inputText>

				</div>
				<div class="ui-g-12 ui-lg-12 ui-md-12">
					<h:outputText value="Password" />
					<p:inputText  id="j_password" required="true"
						placeholder=" Enter Password"  type="password">
						<p:ajax update="j_password" />
					</p:inputText>
				</div>
				<div class="ui-g-12 ui-lg-12 ui-md-12 chkbox-container">
					<p:selectBooleanCheckbox id="remember-me" />
					<p:outputLabel for="remember-me" value="Remember Me" />
					<a href="#">Reset Password</a>
				</div>

				<div class="ui-g-12 ui-lg-12 ui-md-12 button-container">
					<p:commandButton id="login" value="Login" ajax="false"
						validateClient="true" update="loginForm"
						styleClass="btn btn-danger btn-block"
						action="#{loginController.doLogin}" />
				</div>

			</h:form>
		</div>
	</div>

	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="california-layout" />
</h:body>
</html>
