<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	template="/pages/californiatemplate/template.xhtml">

	<ui:define name="title">Dashboard</ui:define>

	<ui:define name="viewname">Dashboard</ui:define>

	<ui:define name="head">
		<script type="text/javascript">
			//<![CDATA[
			function skinChart() {
				this.cfg.shadow = false;
				this.cfg.title = '';
				this.cfg.seriesColors = [ '#00acac', '#3e96e7' ];
				this.cfg.grid = {
					background : '#ffffff',
					borderColor : '#ffffff',
					gridLineColor : '#EEEEEE',
					shadow : false
				};
				this.cfg.axesDefaults = {
					rendererOptions : {
						textColor : '#212121'
					}
				};
				this.cfg.seriesDefaults = {
					shadow : false,
					lineWidth : 1,
					markerOptions : {
						shadow : false,
						size : 7,
						style : 'circle'
					}
				}
			}
			//]]>
		</script>
		<style type="text/css">
.main-content {
	padding: 0;
}
</style>
	</ui:define>

	<ui:define name="content">
		<div class="dashboard">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-4">
					<div class="overview-box monthly-sales">
						<div class="overview-title">SALES</div>
						<i class="fa fa-arrow-circle-up" />
						<div class="overview-numbers">
							<strong>$ 22,650</strong>
						</div>
						<div class="overview-ratios">16% more than previous month</div>
						<p:graphicImage name="images/icon-sales.png"
							library="california-layout" />
					</div>
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-4">
					<div class="overview-box monthly-views">
						<div class="overview-title">
							VIEWS <i class="fa fa-arrow-circle-down" />
						</div>
						<div class="overview-numbers">
							<strong>6215</strong>/Day
						</div>
						<div class="overview-ratios">2% less than previous month</div>
						<p:graphicImage name="images/icon-views.png"
							library="california-layout" />
					</div>
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-4">
					<div class="overview-box monthly-users">
						<div class="overview-title">
							USERS <i class="fa fa-arrow-circle-up" />
						</div>
						<div class="overview-numbers">
							<strong>5288</strong>/Day
						</div>
						<div class="overview-ratios">9% more than previous month</div>
						<p:graphicImage name="images/icon-users.png"
							library="california-layout" />
					</div>
				</div>

				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="stats">
						<div class="stats-icon">
							<p:graphicImage name="images/icon-message.png"
								library="california-layout" styleClass="message-icon" />
						</div>
						<div class="stats-numbers">150</div>
						<div class="stats-title">Unread Messages</div>
						<div class="stats-subtitle">
							You stared <span>5</span> messages today
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="stats">
						<div class="stats-icon">
							<p:graphicImage name="images/icon-doc.png"
								library="california-layout" styleClass="doc-icon" />
						</div>
						<div class="stats-numbers">532</div>
						<div class="stats-title">Files Synced</div>
						<div class="stats-subtitle">
							<span>21%</span> more than yesterday
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="stats">
						<div class="stats-icon">
							<p:graphicImage name="images/icon-mark.png"
								library="california-layout" styleClass="mark-icon" />
						</div>
						<div class="stats-numbers">450</div>
						<div class="stats-title">Check-ins</div>
						<div class="stats-subtitle">
							<span>12%</span> less than yesterday
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="stats">
						<div class="stats-icon">
							<p:graphicImage name="images/icon-profile.png"
								library="california-layout" styleClass="profile-icon" />
						</div>
						<div class="stats-numbers">974</div>
						<div class="stats-title">Users Online</div>
						<div class="stats-subtitle">
							<span>35210</span> total page view today
						</div>
					</div>
				</div>

				
				<div class="ui-g-12 ui-md-12 ui-lg-6">
					<p:panel styleClass="profile-details ui-g-12">
						<p:graphicImage name="images/image-profile.png"
							library="california-layout" />
						<p:graphicImage name="images/profile-avatar.png"
							library="california-layout" styleClass="profile-avatar" />
						<span class="profile-name">Pauline Harrell</span>
						<span class="profile-role">Administrator</span>
						<p:commandButton type="button" value="Edit Profile" />
						<div class="ui-g-12">
							<div class="profile-statistics-panel ui-g-4">
								<span class="profile-statistics">1098</span> <span
									class="statistics-title">Articles</span>
							</div>
							<div class="profile-statistics-panel ui-g-4">
								<span class="profile-statistics">22,681</span> <span
									class="statistics-title">Followers</span>
							</div>
							<div class="profile-statistics-panel ui-g-4">
								<span class="profile-statistics">880</span> <span
									class="statistics-title">Following</span>
							</div>
						</div>
					</p:panel>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>